*{
    padding: 0px;
    margin: 0px;
}
.container{
    gap: 39vw;
}
.navbar-nav{
    gap: 40px;
}
.btn-primary{
    background-color:#0d6efd;
    color: white; 
}
.btn-primary:hover{
    background-color:#0d6dfd7e;
    color: rgb(0, 0, 0); 
}
.btn-success{
    background-color:#157347;
    color: white; 
}
.btn-success:hover{
    background-color:#1573475b;
    color: rgb(0, 0, 0); 
}

a.btn-primary, a.btn-primary:visited {
    color: #ffffff;
}

a.btn-success, a.btn-success:visited {
    color: #ffffff;
}
a.btn-primary:hover {
    color: #000000;
}

a.btn-success:hover {
    color: #000000;
}

/* footer css*/


.footer{
    margin-top: 200px;
}

.UnderDevImg1{
        width: 100%;
        height: 100%;
        margin-left: -5vw;
    }

@media only screen and (max-width: 600px) {
    .UnderDevImg1{
        width: 100%;
        height: 100%;
    }
}
 

