.UnderDevImgP1{
    width: 30%;
   
}
div>.UnderDevImgP1{
    text-align: center;
    margin-left: 40%
}

@media only screen and (max-width: 600px) {
    .UnderDevImgP1{
        width: 50vw;
       
    }
    div>.UnderDevImgP1{
        text-align: center;
        margin-left: 20%
    }
    
}